---
# Security Configuration Tasks
- name: Configure automatic security updates
  block:
    - name: Install unattended-upgrades
      apt:
        name: unattended-upgrades
        state: present
    - name: Configure security updates
      copy:
        content: |
          APT::Periodic::Update-Package-Lists "1";
          APT::Periodic::Unattended-Upgrade "1";
          APT::Periodic::Download-Upgradeable-Packages "1";
          APT::Periodic::AutocleanInterval "7";
          Unattended-Upgrade::Automatic-Reboot "false";
          Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
          Unattended-Upgrade::Remove-Unused-Dependencies "true";
          Unattended-Upgrade::Allowed-Origins {
              "${distro_id}:${distro_codename}-security";
              "${distro_id}ESMApps:${distro_codename}-apps-security";
          };
          Unattended-Upgrade::Package-Blacklist {
          };
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
        mode: '0644'
    - name: Enable automatic security updates service
      systemd:
        name: unattended-upgrades
        enabled: yes
        state: started
  when: ansible_os_family == "Debian"

- name: Configure SSH security settings
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^{{ item.regexp }}"
    line: "{{ item.line }}"
    backup: yes
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^#?PermitEmptyPasswords', line: 'PermitEmptyPasswords no' }
    - { regexp: '^#?Protocol', line: 'Protocol 2' }
    - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval 300' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 3' }
  when: ansible_os_family == "Debian"
  notify: restart sshd
