name: CI-CD Pipeline (Docker + Kubernetes using KIND)

on:
  push:
    branches:
      - main

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
      # -----------------------------
      # 1️⃣ Checkout source code
      # -----------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------
      # 2️⃣ Login to Docker Hub
      # -----------------------------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # -----------------------------
      # 3️⃣ Build & Push Docker Image
      # -----------------------------
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: mukul1599/backend-service:latest

      # -----------------------------
      # 4️⃣ Install kubectl
      # -----------------------------
      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      # -----------------------------
      # 5️⃣ Install KIND
      # -----------------------------
      - name: Install KIND
        run: |
          curl -Lo kind https://kind.sigs.k8s.io/dl/v0.23.0/kind-linux-amd64
          chmod +x kind
          sudo mv kind /usr/local/bin/kind

      # -----------------------------
      # 6️⃣ Create Kubernetes Cluster
      # -----------------------------
      - name: Create KIND Cluster
        run: |
          kind create cluster --name ci-cluster

      # -----------------------------
      # 7️⃣ Deploy Application to Kubernetes
      # -----------------------------
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/configmap-hot.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      # -----------------------------
      # 8️⃣ Verify Deployment
      # -----------------------------
      - name: Verify Pods and Services
        run: |
          kubectl get pods -n backend
          kubectl get svc -n backend
